<!doctype html>
<html lang="en">
  <head>
    <title>Manage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <form method="POST" action="/new" class="needs-validation" novalidate>
        <div class="form-group col-lg-12 form-row">
            <div class="col">
            <input class="form-control form-check" type="text" name="Aadharid" placeholder="Aadhar Card Number">
             <br>
            <input class="form-control" type="text" name="name" placeholder="Candidate Name">
            <br>
            <div class="form-row">
            <input class="form-control form-check" type="text" name="phonenum" placeholder="Phone Number">
        </div>
            <br>
            <div class="form-row">DOB:</div>
            <input class="form-control" type="date" name="dob" placeholder="DOB">
            <br>
            <input class="form-control" type="text" name="altphonenum" placeholder="Alternate Phone Number">
            <br>
            <input class="form-control" type="text" name="emailid" placeholder="Email ID">
            <br>
            <input class="form-control" type="text" name="add1" placeholder="Address Line 1">
            <input class="form-control" type="text" name="add2" placeholder="Address Line 2">
            <br>
            <div class="form-row">Gender:</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderRadios" id="genderRadios1" value="male">
                <label clas="form-check-label" for="genderRadios1">
                    Male
                </label>           
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderRadios" id="genderRadios2" value="female">
                <label clas="form-check-label" for="genderRadios2">
                    Female
                </label>           
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderRadios" id="genderRadios3" value="lgbt">
                <label clas="form-check-label" for="genderRadios3">
                    LGBTQ
                </label>           
            </div>
            <div class="form-row">Source:</div>
            <select class="form-control form-check custom-select" type="text" name="source" placeholder="Source">
                <option selected></option>
                <option>Event</option>
                <option>Roadshow</option>
                <option>Referral</option>
                <option>Word Of Mouth</option>
                <option>Press</option>
            </select>
            <div class="form-row">Source Type:</div>
            <select class="form-control custom-select" type="text"name="sourcetype" placeholder="Source Type">
                <option selected></option>
                <option>Inbound</option>
                <option>Outbound</option>
            </select>
            
            <div class="form-row">Employment Status:</div>
                <select class="form-control custom-select" type="text" name="empstatus" placeholder="Emp Stat">
                    <option selected></option>
                    <option>Self-Employed</option>
                    <option>Unemployed</option>
                    <option>Employed</option>
                </select>
            <br>

        </div>
        <div class="col">
            <input class="form-control" type="text" name="currentocc" placeholder="Occupation">

            <div class="form-row">Current Annual Income:</div>
            <select class="form-control custom-select" type="text" name="currentincome" placeholder="Current Annual Income">
                <option selected></option>
                <option>(<2lac/PA)</option>
                <option>(2-5lac/PA)</option>
                <option>(5-10lac/PA)</option>
                <option>(10-20lac/PA)</option>
                <option>(>20lac/PA)</option>


            </select>

            <div class="form-row">Educational Qualifcation:</div>
            <select class="form-control custom-select" type="text" name="qualification" placeholder="Edu Qua">
                <option selected></option>
                <option>Never Went to School</option>
                <option>5th Pass</option>
                <option>8th Pass</option>
                <option>10th Pass</option>
                <option>12th Pass</option>
                <option>Diploma</option>
                <option>Graduate</option>
                <option>Post-Graduate</option>

                <input class="form-control" type="text"name="noofSE" placeholder="No. of Successful Enterprises">
            
            <input class="form-control" type="text" name="noofFE" placeholder="No. of Failed Enterprises">
            
            <div class="form-row">Has a Bank Account:</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="bank" id="bank1" value="yes">
                <label clas="form-check-label" for="bank1">
                    Yes
                </label>           
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="bank" id="bank2" value="No">
                <label clas="form-check-label" for="bank2">
                    No
                </label>           
            </div>
            
            
            <div class="form-row">Has Credit History:</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="credit" id="credit1" value="yes">
                <label clas="form-check-label" for="credit1">
                    Yes
                </label>           
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="credit" id="credit2" value="No">
                <label clas="form-check-label" for="credit2">
                    No
                </label>           
            </div>
            
            
            
            <div class="form-row">Has Assets:</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="hasassets" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">None</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="hasassets" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Land</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="hasassets" id="inlineCheckbox3" value="option1">
                <label class="form-check-label" for="inlineCheckbox3">House</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="hasassets" id="inlineCheckbox4" value="option2">
                <label class="form-check-label" for="inlineCheckbox4">Shop</label>
              </div><div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="hasassets" id="inlineCheckbox5" value="option1">
                <label class="form-check-label" for="inlineCheckbox5">Vehicles</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="hasassets" id="inlineCheckbox6" value="option2">
                <label class="form-check-label" for="inlineCheckbox6">Cattles</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="hasassets" id="inlineCheckbox7" value="option2">
                <label class="form-check-label" for="inlineCheckbox7">Others</label>
              </div>


            <div class="form-row">Needs Training:</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="training" id="training1" value="yes">
                    <label clas="form-check-label" for="training1">
                        Yes
                    </label>           
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="training" id="training2" value="No">
                    <label clas="form-check-label" for="training2">
                        No
                    </label>           
                </div>
                
            <div class="form-row">Status:</div>
             <select class="form-control custom-select" name="status" type="text" placeholder="Status">
                <option selected></option>
                <option>Intrested in Exploring</option>
                <option>Undergoing Training</option>
                <option>Training Complete</option>
                <option>Stream Identified</option>
                <option>Resume Made</option>
                <option>Resume Identified</option>
                <option>Resume Sent for Processing</option>
                <option>Resume Declined</option>
                <option>Resume Accepted</option>
                <option>Due Diligence</option>
                <option>Background Check</option>
                <option>Job Offer Recieved</option>
                <option>No Longer Interested</option>
                <option>Deceased</option>
             </select>
             
             <div class="text-center">
                 <br>
                <button id="subBut" type="submit" class="btn btn-primary">Save</button>
            </div>
             </div>
        </div>
    </form>

    <!-- <script type="text/javascript">
    $('#subbut').click((function(){

    }))
    </script> -->
 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>